body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
}

.inner:hover {
  opacity: 0.8;
  animation: fade-in 3s linear infinite;
  cursor: pointer;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
}

.spotify {
  transition: ease-in-out 2s;
}

.spotify:hover {
  cursor: pointer;
  animation: pulse 1.5s linear infinite;
}

@keyframes pulse {
  25% {
    color: #00ffe1;
  }
  75% {
    color: #00ffe1;
  }
}
.youtube {
  transition: ease-in-out 2s;
}

.youtube:hover {
  cursor: pointer;
  animation: pulse-yt 1.5s linear infinite;
}

@keyframes pulse-yt {
  25% {
    color: #ff0099;
  }
  /*50% {*/
  /*color: white;*/
  /*5}*/
  74% {
    color: #ff9500;
  }
}
